.about-me {
    padding-top: 90px;
    text-align: center;
    background-color: #FCFCFC;
    position: relative;
    &-ava-wrapper {
        width: 100%;
        position: relative;
        &:hover img:first-child{
            transform: rotateY(180deg) translateX(50%);
            & + img {
                transform: translateX(-50%) rotateY(0);
            }
        }
    }
    &__ava {
        display: block;
        max-width: 170px;
        transition: transform .3s linear;
        backface-visibility: hidden;
        position: relative;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        &:nth-child(2){
            position: absolute;
            transform: rotateY(180deg) translateX(50%);
        }
    }
    &__title {
        margin-top: 60px;
        @extend .section-title
    }
    &__descr {
        margin-top: 60px;
        font-family: 'Raleway-Medium';
        color:  #515151;
        font-size: 14px;
        line-height: 2;
    }
}