.services {
    padding-top: 90px;
    text-align: center;
    &__title {
        @extend .section-title
    }
    &__descr {
        @extend .section-descr;
            &--dop {
                display: block;
                margin: 20px 0;
                line-height: 1;
            }
    }
    &-list {
        padding: 15px 0;
        border-bottom: 2px solid #ccc;
        border-top: 2px solid #ccc;
        margin-top: 60px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        transition: .3s linear;
        transition-property: transform, box-shadow; 
        &__img {
            width: 190px;
            height: 190px;
            background-color: #333;
            border-radius: 50%;
            margin: 0 auto;
        }
        &__title {
            font-family: 'Raleway-SemiBold';
            font-size: 20px;
            & span {
                padding-bottom: 10px;
                position: relative;
                &:after {
                    height: 2px;
                    width: 100%;
                    background: #E1571A;
                    content: "";
                    position: absolute;
                    left: 0px;
                    bottom: 0;
                    transform: scaleX(0);
                    transition: transform .3s linear;
                }
            }
        }
        &__price {
            font-family: 'Raleway-Medium';
            font-size: 16px;
            & span {
                padding-right: 10px;
                margin-right: 10px;
                border-right: 1px solid #000;
            }
        }
        &__link {
            @extend .section-btn;
            &:hover span {
               transform: translateY(-216%);
            }
        }
        &:hover {
            border-color: transparent;
            transform: scale(1.03);
            box-shadow: 5px 5px 24px 3px rgba(0,0,0,0.75);
        }
        &:hover &__title span:after {
            transform: scale(1);
        }
    }
}